[Desktop Entry]
Categories={{categories}}
Comment={{comment}}
Exec={{exec}} %F
Icon={{icon}}
Name={{name}}
Terminal=false
Type=Application
MimeType=video/mp4;video/quicktime;video/x-matroska;video/webm;video/x-msvideo;